{% load static %}
<article id="intro">
  <h2 class="major">Intro</h2>
  <span class="image main">
    <img src="{% static 'images/pic01.jpg' %}" alt="" />
  </span>
  <p>
    Soy Virginia, pediatra y mamá, y creo profundamente en el poder de una alimentación respetuosa, natural y consciente para construir salud desde la infancia.
    Llevo años acompañando familias desde la atención primaria en la sanidad pública. En ese camino, he podido ver cómo muchas madres y padres tienen dudas, miedos o simplemente necesitan una guía clara y cercana sobre cómo alimentar mejor a sus hijos.
    No se trata de falta de interés, sino de un sistema que no siempre da el tiempo necesario para escuchar, explicar y acompañar. Como profesional, siento muchas veces que me quedo corta: las familias merecen más.
    Por eso nace Nutrivir: para apoyaros en el aprendizaje hacia una alimentación saludable y consciente, fundamentada en la evidencia.
    Esta consulta es una forma de estar más presente, de ofrecer el espacio y el tiempo que en la consulta habitual no siempre tenemos.
    Hoy en día, la alimentación infantil está profundamente atravesada por intereses comerciales. La industria alimentaria impone mensajes confusos que muchas veces contradicen lo que sabemos que es mejor para la salud. Y los niños, que son los más vulnerables, son quienes más lo sufren.
    También veo a muchas familias esforzándose por salir de esa corriente: eligiendo comida más natural, evitando azúcares y ultraprocesados, o criando a sus hijos con una alimentación vegetariana o vegana. Pero se enfrentan al entorno, a los cumpleaños, a los comentarios, a la desinformación…
    Y cuando una familia intenta nadar contra la corriente —elige reducir azúcares, ofrecer alimentos más naturales, seguir una dieta vegetariana o vegana— se enfrenta a cumpleaños, comentarios, dudas y mucha desinformación.
    Y sí, hoy en día hay acceso a buena información. Pero no siempre hay tiempo, ni apoyo profesional que escuche sin juzgar y acompañe de forma personalizada.
    Porque alimentar también es cuidar. Y yo quiero ayudarte a hacerlo con tranquilidad, confianza y bienestar.
  </p>
</article>

