{% load static %}

<article id="work">
  <h2 class="major">Work</h2>
  <span class="image main">
    <img src="{% static 'images/pic02.webp' %}" alt="" />
  </span>
  <p>
    En Nutrivir, creemos que la mejor alimentación infantil es la que se adapta a cada niño y a cada familia, respetando sus valores y necesidades. Por eso, empezamos ofreciendo menús personalizados, pensados para asegurar que tu hijo reciba todos los nutrientes necesarios desde una perspectiva natural y basada en evidencia.
  </p>
  <p>
    Pero más allá de los menús, nuestro objetivo es que vosotros, como familia, integréis poco a poco los conocimientos y herramientas para que podáis tomar decisiones con confianza, autonomía y tranquilidad. Queremos acompañarte en ese aprendizaje, para que la alimentación saludable deje de ser un desafío y se convierta en un hábito natural y sostenible en el día a día.
  </p>
  <p>
    Aquí no se trata solo de seguir una dieta, sino de construir un modelo de alimentación consciente, amorosa y bien fundamentada que acompañe a tus hijos durante toda su vida.
  </p>
</article>
