{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block title %}
      <title>Nutrivir</title>
    {% endblock title %}
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Web personal de Virginia" />
    <meta name="author" content="Guillermo Follana Berná" />
    <link rel="icon" href="{% static 'images/favicons/leaf-solid.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <noscript>
      <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
    </noscript>
    <!-- Scripts -->
    {% block javascript %}
      {% compress js %}
        <script defer src="{% static 'js/jquery.min.js' %}"></script>
        <script defer src="{% static 'js/browser.min.js' %}"></script>
        <script defer src="{% static 'js/breakpoints.min.js' %}"></script>
        <script defer src="{% static 'js/util.js' %}"></script>
        <script defer src="{% static 'js/main.js' %}"></script>
        <script defer src="{% static 'js/fondo.js' %}"></script>
      {% endcompress js %}
    {% endblock javascript %}
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="logo">
          <span class="icon solid fa-leaf"></span>
        </div>
        <div class="content">
          <div class="inner">
            <h1>Nutrivir</h1>
            <p>Alimentar con conciencia, crecer con bienestar.</p>
          </div>
        </div>
        <nav>
          <ul>
            <li>
              <a href="#intro">Intro</a>
            </li>
            <li>
              <a href="#work">Work</a>
            </li>
            <li>
              <a href="#tarifas">Tarifas</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- Main -->
      <div id="main">
        <!-- Intro -->
        {% include 'pages/articles/intro.html' %}
        <!-- Work -->
        {% include 'pages/articles/work.html' %}
        <!-- Tarifa -->
        {% include 'pages/articles/tarifas.html' %}
        <!-- Contact -->
        {% include 'pages/articles/contact.html' %}
      </div>
      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">
          {% now "Y" %} © Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.
        </p>
      </footer>
    </div>
    <!-- BG -->
    <div id="bg"></div>
  </body>
</html>
